<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
    <title>Register</title>
</head>
<body>
    <div class="alert">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
    <div class="loginpage">
      
        <div class="loginbox">
            <h2><span>Register</span></h2>
    <form method="post">
        <div class="inputbox">
        <label for="username" class="label">Username</label>
        <input type="text" id="username" name="username" class="inpt-filed" required><br><br>
    </div>
        <div class="inputbox">
        <label for="password" class="label">Password</label>
        <input type="password" id="password" name="password" class="inpt-filed"required><br><br>
    </div>
        <button type="submit" class="button">Register</button>

    </form>
</div>
</div>
</body>
</html>
